<!doctype html>
<html>
<head>
	<title>Final Project : CS340 </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.js"></script>
</head>
<body>
	{{{body}}}
	<script src="/static/script.js"></script>
</body>
</html>
