<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>View Playlists</title>
</head>
<body>
	<div class="container">
		<h1>View Albums</h1>

		<div class="container">
			<ul class="list-group">
			  <li class="list-group-item">
			  	Album 1
			  	<div class="mt-1">
			  		Artist: Artist 1
				  	<div class="btn-group float-right">
					  	<a href="songs.html" role="button" class="btn btn-primary btn-sm">
						  	View album songs
						</a>
						<button type="button" class="btn btn-info btn-sm">
						  	Edit album
						</button>
						<button type="button" class="btn btn-danger btn-sm">
						  	Delete album
						</button>
					</div>
				</div>
			  </li>

			  <li class="list-group-item">
			  	Album 2
			  	<div class="mt-1">
			  		Artist: Artist 1
				  	<div class="btn-group float-right">
					  	<a href="songs.html" role="button" class="btn btn-primary btn-sm">
						  	View album songs
						</a>
						<button type="button" class="btn btn-info btn-sm">
						  	Edit album
						</button>
						<button type="button" class="btn btn-danger btn-sm">
						  	Delete album
						</button>
					</div>
				</div>
			  </li>

			  <li class="list-group-item">
			  	Album 3
			  	<div class="mt-1">
			  		Artist: Artist 1
				  	<div class="btn-group float-right">
					  	<a href="songs.html" role="button" class="btn btn-primary btn-sm">
						  	View album songs
						</a>
						<button type="button" class="btn btn-info btn-sm">
						  	Edit album
						</button>
						<button type="button" class="btn btn-danger btn-sm">
						  	Delete album
						</button>
					</div>
				</div>
			  </li>

			  <li class="list-group-item">
			  	Album 4
			  	<div class="mt-1">
			  		Artist: Artist 1
				  	<div class="btn-group float-right">
					  	<a href="songs.html" role="button" class="btn btn-primary btn-sm">
						  	View album songs
						</a>
						<button type="button" class="btn btn-info btn-sm">
						  	Edit album
						</button>
						<button type="button" class="btn btn-danger btn-sm">
						  	Delete album
						</button>
					</div>
				</div>
			  </li>

			  <li class="list-group-item">
			  	Album 5
			  	<div class="mt-1">
			  		Artist: Artist 1
				  	<div class="btn-group float-right">
					  	<a href="songs.html" role="button" class="btn btn-primary btn-sm">
						  	View album songs
						</a>
						<button type="button" class="btn btn-info btn-sm">
						  	Edit album
						</button>
						<button type="button" class="btn btn-danger btn-sm">
						  	Delete album
						</button>
					</div>
				</div>
			  </li>
			</ul>
		</div>
		<div class="container mt-5">
			<form>
				<h3>Create New Album</h3>
				<div>
				      <input type="text" class="form-control" placeholder="Album name">
			    </div>
			    <button class="mt-1 btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>