
	<div class="container">
		<h1>View all artists</h1>


		<div class="container">
			<div class="row">
			 <div class="col-md-6 mt-1">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">*Artist Name 1*</h5>
			        <p class="card-text">*Genre*</p>
			        <p class="card-text">*Biography*</p>
			        <div class="btn-group">
				        <a href="/albums" class="btn btn-primary">Albums</a>
				        <a href="/songs" class="btn btn-secondary">Songs</a>
				        <a href="#" class="btn btn-info">Edit Artist</a>
				        <a href="#" class="btn btn-danger">Delete Artist</a>
			        </div>
			        
			      </div>
			    </div>
			</div>
			  <div class="col-md-6 mt-1">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">*Artist Name 2*</h5>
			        <p class="card-text">*Genre*</p>
			        <p class="card-text">*Biography*</p>
			        <div class="btn-group">
				   			<a href="/albums" class="btn btn-primary">Albums</a>
				        <a href="/songs" class="btn btn-secondary">Songs</a>
				        <a href="#" class="btn btn-info">Edit Artist</a>
				        <a href="#" class="btn btn-danger">Delete Artist</a>
			        </div>
			        
			      </div>
			    </div>
			</div>
			<div class="col-md-6 mt-1">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">*Artist Name 3*</h5>
			        <p class="card-text">*Genre*</p>
			        <p class="card-text">*Biography*</p>
			        <div class="btn-group">
				        <a href="/albums" class="btn btn-primary">Albums</a>
				        <a href="/songs" class="btn btn-secondary">Songs</a>
				        <a href="#" class="btn btn-info">Edit Artist</a>
				        <a href="#" class="btn btn-danger">Delete Artist</a>
			        </div>
			        
			      </div>
			    </div>
			</div>
			<div class="col-md-6 mt-1">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">*Artist Name 4*</h5>
			        <p class="card-text">*Genre*</p>
			        <p class="card-text">*Biography*</p>
			        <div class="btn-group">
								<a href="/albums" class="btn btn-primary">Albums</a>
				        <a href="/songs" class="btn btn-secondary">Songs</a>
				        <a href="#" class="btn btn-info">Edit Artist</a>
				        <a href="#" class="btn btn-danger">Delete Artist</a>
			        </div>
			      </div>
			    </div>
			</div>
			<div class="container mt-5">
			<form>
				<h3>Create New Artist</h3>
			 <div class="row">
			    <div class="col">
			      <input type="text" class="form-control" placeholder="Aritist name">
			    </div>
			    <div class="col">
			      <input type="text" class="form-control" placeholder="Genre">
			    </div>
			</div>
			<div class="row">
			    <div class="col">
			      <input type="textarea" class="form-control" placeholder="Biography">
			    </div>
			 </div>
			 <button class="btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
		</div>
	</div>